body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.landingLinks {
  float: right;
}

.landingLinks a {
  text-decoration: underline;
}

.jumbo {
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}

.passMatch {
  color: Lime;
  background-color: black;
}

.passFail {
  color: DeepPink;
  background-color: black;
}
