body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.signLinks {
  float: right;
}

.indexTitle {
  padding: 3em;
  margin: 0 auto;
  text-align: center;
}
